*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
}

nav{
  display: flex;
  justify-content: space-between;

  padding: 1rem 4rem;
  background-color: #C8F7C5;
  color: #2E7D32;

  position: sticky;
  top: 0;
  width: 100%;
}

nav img{
  height: 80px;
  width: auto;
  border-radius: 50%;
}

nav h1{
  font-family: "Caprasimo", serif;
  font-size: 70px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 2px;
}

nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;

}

nav a{
  text-decoration: none;
  font-size: 1.5rem;
  color: #2E7D32;
  transition: color 1s ease;
}

nav a:hover{
  color: #37ad3d;
}


#home{
  height: 90vh;
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}

#home h1{
  font-size: 4rem;
}

#home p{
  font-size: 2rem;
  width: 50%;
  text-align: center;
}

#home button{
  cursor: pointer;
  padding: 1rem;
  background-color: #81C784;
  color: white;
  border: 0;
  border-radius: 5px;
  transition: background-color 1s ease;

  font-size: 1rem;
}

#home button:hover{
  background-color: #5a875d;
}