*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Poppins", sans-serif;
  background-color: #f1f8e9;
}

nav{
  display: flex;
  justify-content: space-between;

  padding: 1rem 4rem;
  background-color: #C8F7C5;
  color: #2E7D32;

  position: sticky;
  top: 0;
  width: 100%;
}

nav img{
  height: 80px;
  width: auto;
  border-radius: 50%;
}

nav h1{
  font-family: "Caprasimo", serif;
  font-size: 70px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 2px;
}

nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;

}

nav a{
  text-decoration: none;
  font-size: 1.5rem;
  color: #2E7D32;
  transition: color 1s ease;
}

nav a:hover{
  color: #37ad3d;
}

/* Hero Section */
#home{
  height: 90vh;
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}

#home h1{
  font-size: 4rem;
}

#home p{
  font-size: 2rem;
  width: 50%;
  text-align: center;
}

#home button{
  cursor: pointer;
  padding: 1rem;
  background-color: #81C784;
  color: white;
  border: 0;
  border-radius: 5px;
  transition: background-color 1s ease;

  font-size: 1rem;
}

#home button:hover{
  background-color: #5a875d;
}

/* Tip Section */

#tips{
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tips h1{
  color: #2E7D32;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.tips-container{
  display: flex;
  gap: 3rem;
}

.tip-div{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 1.5rem 2rem;
  border-radius: 1rem;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#tips h2{
  color: #2E7D32;
  font-size: 1.2rem;
}

.tip-div p{
  width: 250px;
  text-align: center;
}

/* Gallery */
#gallery{
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gallery h1{
  color: #2E7D32;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.img-container img{
  width: 400px;
  height: 350px;
  border-radius: 10px;
  object-fit: cover;
}

/* Contact */
#contact{
  padding: 5rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #e8f5e9;
}

#contact h1{
  color: #2E7D32;
  font-size: 2rem;
  margin-bottom: 2rem;
}

#contact input{
  border: 0.5px solid #2E7D32;
  border-radius: 5px;
  padding: 0.6rem 1rem;
  width: 300px;
  margin-right: 10px;
}

#contact button{
  cursor: pointer;
  padding: 0.6rem 1rem;
  background-color: #81C784;
  color: white;
  border: 0;
  border-radius: 5px;
  transition: background-color 1s ease;

  font-size: 1rem;
}

#contact button:hover{
  background-color: #5a875d;
}

/* Footer */
footer{
  background-color: #2E7D32;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  color: white;
  font-size: 1rem;
}